{#if $dataState.archive.active}
  <Input
    small
    type="date"
    value="{$dataState.archive.from}"
    on:change="{(e)=>data.archiveSet({from:e.detail})}"
  />
  -
  <Input
    small
    type="date"
    value="{$dataState.archive.to}"
    on:change="{(e)=>data.archiveSet({to:e.detail+86400000})}"
  />
  <br>
  <br>
{/if}
<div>
  <table>
    <tbody>
      <tr>
        {#each $dealsColumns as col}
          <th>
            <div class:active="{$dataState.sort.col===col}">
              {#if $columnRules[col].filterable}
                <Input
                  small
                  type="{$columnRules[col].type}"
                  on:input="{e=>data.filter(col,e.detail)}"
                  value="{$dataState.filters[col]}"
                  label="{$columnRules[col].title}"
                />
              {:else}
                <strong on:click="{()=>data.sort(col)}">
                  {$columnRules[col].title}
                </strong>
              {/if}
              {#if $columnRules[col].sortable}
                <span on:click="{()=>data.sort(col)}">
                  <small
                    class:active="{$dataState.sort.col===col&&$dataState.sort.asc}"
                  >▲</small>
                  <small
                    class:active="{$dataState.sort.col===col&&!$dataState.sort.asc}"
                  >▼</small>
                </span>
              {/if}
            </div>
          </th>
        {/each}
        <th on:click="{()=>modal.set('dealsColumns')}">
          Columns
        </th>
      </tr>
      {#each $dataStore as deal}
        <tr on:dblclick="{()=>dealEdit=deal.id}">
          {#each $dealsColumns as col}
            <td>
              {#if $columnRules[col].editable && dealEdit === deal.id}
                <Input
                  small
                  type="{$columnRules[col].type}"
                  value="{deal[col]}"
                  on:input="{e=>deal[col]=e.detail}"
                  on:enter="{()=>save(deal)}"
                />
              {:else if $columnRules[col].isDate}
                {deal[col] ? date(deal[col]) : ''}
              {:else}
                {deal[col] ? $columnRules[col].prefix : ''}
                {deal[col] || ''}
              {/if}
            </td>
          {/each}
          <td>
            <BtnGroup>
              {#if dealEdit === deal.id}
                <Btn
                  on:click="{()=>save(deal)}"
                  disabled="{$busy}"
                  label="Save"
                  key="{deal.id}"
                  success
                  icon
                >
                  <svg xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none"/>
                    <path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"/>
                  </svg>
                </Btn>
                <Btn
                  on:click="{()=>{dealEdit=null;data.patch(deal.id)}}"
                  label="Cancel"
                  icon
                >
                  <svg xmlns="http://www.w3.org/2000/svg">
                    <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
                    <path d="M0 0h24v24H0z" fill="none"/>
                  </svg>
                </Btn>
              {:else if deal.stage!=='Loose' && deal.stage!=='Won' && !$dataState.archive.active}
                <Btn
                  on:click="{()=>stageDeal(deal, true)}"
                  disabled="{$busy}"
                  label="Loose deal"
                  key="{deal.id}"
                  danger
                  icon
                >
                  <svg xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none"/>
                    <path d="M7 11v2h10v-2H7zm5-9C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/>
                  </svg>
                </Btn>
                <Btn
                  on:click="{()=>dealEdit=deal.id}"
                  disabled="{$busy}"
                  label="Edit deal"
                  key="{deal.id}"
                  icon
                >
                  <svg xmlns="http://www.w3.org/2000/svg">
                    <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
                    <path d="M0 0h24v24H0z" fill="none"/>
                  </svg>
                </Btn>
                <Btn
                  on:click="{()=>stageDeal(deal)}"
                  disabled="{$busy}"
                  label="Next stage"
                  key="{deal.id}"
                  success
                  icon
                >
                  <svg xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none"/>
                    <path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"/>
                  </svg>
                </Btn>
              {:else}
                {#if !$dataState.archive.active}
                  <Btn
                    on:click="{()=>data.toArchive(deal)}"
                    label="Move to archive"
                    disabled="{$busy}"
                    key="{deal.id}"
                    icon
                  >
                    <svg xmlns="http://www.w3.org/2000/svg">
                      <path d="M20.54 5.23l-1.39-1.68C18.88 3.21 18.47 3 18 3H6c-.47 0-.88.21-1.16.55L3.46 5.23C3.17 5.57 3 6.02 3 6.5V19c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V6.5c0-.48-.17-.93-.46-1.27zM12 17.5L6.5 12H10v-2h4v2h3.5L12 17.5zM5.12 5l.81-1h12l.94 1H5.12z"/>
                      <path d="M0 0h24v24H0z" fill="none"/>
                    </svg>
                  </Btn>
                {/if}
                <Btn
                  on:click="{()=>del(deal)}"
                  disabled="{$busy}"
                  key="{deal.id}"
                  label="Delete"
                  danger
                  icon
                >
                  <svg xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM8 9h8v10H8V9zm7.5-5l-1-1h-5l-1 1H5v2h14V4z"/>
                    <path fill="none" d="M0 0h24v24H0V0z"/>
                  </svg>
                </Btn>
              {/if}
            </BtnGroup>
          </td>
        </tr>
      {:else}
      <tr>
        <td colspan="{$dealsColumns.length+1}">
          There is no deals
        </td>
      </tr>
      {/each}
    </tbody>
  </table>
</div>

<script>
  import {
    busy,
    dealsColumns,
    columnRules,
    pushAlert,
    stageDeal,
    data,
    dataStore,
    dataState,
    modal
  } from '../../../store/store.js'
  import BtnGroup from '../../buttons/btn-group.html'
  import Btn from '../../buttons/btn.html'
  import Input from '../../inputs/text.html'

  const date = (value) =>
    new Date(value).toLocaleDateString('en-US')

  let dealEdit = null

  const save = async (deal) => {
    await data.put(deal)
    pushAlert('Update deal:\n\n' +
      deal.title)
    dealEdit = null
  }

  const del = async (deal) => {
    if (prompt('Type yes, if you sure') !== 'yes') return
    await data.del(deal.id)
    pushAlert(deal.title + ' has been deleted')
  }
</script>

<style>
  div {
    overflow-x: auto;
  }
  table {
    width: 100%;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 90%;
    cursor: default;
  }
  tbody td {
    border-top: 1px solid #dee2e6;
    padding: 15px;
    vertical-align: middle;
  }
  tbody th:last-child,
  tbody td:last-child {
    width: 100px;
    color: indianred;
    font-weight: 500;
    text-align: center;
  }
  tbody th {
    text-align: left;
    padding: 5px 15px;
  }
  tbody th :global(input),
  tbody th :global(input::placeholder) {
    font-weight: 500;
    color: #888;
  }
  tbody th :global(input:not(:focus)) {
    box-shadow: none;
    border-color: transparent;
    padding: 0 20px 0 0;
  }
  tbody th > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
  }
  tbody th > div small {
    line-height: 8px;
    position: relative;
    top: -1px;
  }
  tbody th > div strong {
    position: relative;
    top: 1px;
    right: 1px;
    font-weight: 500;
    color: #888;
    cursor: pointer;
  }
  tbody th > div.active strong,
  tbody th > div.active :global(input),
  tbody th > div.active :global(input::placeholder) {
    font-weight: 600;
    color: #777;
  }
  tbody th > div small.active {
    color: indianred;
  }
  tbody th > div > span {
    margin-left: 3px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
  }
  tbody th::first-letter {
    text-transform: uppercase;
  }
</style>
