{#if !!alertsArr.length}
  <figure>
    {#each alertsArr as [id, alert] (id)}
      <pre
        on:click="{()=>closeAlert(id)}"
        transition:fly
      >{alert}</pre>
    {/each}
  </figure>
{/if}

<script>
  import {
    alerts,
    pushAlert,
    closeAlert
  } from '../store/store.js'
  import { fly } from 'svelte-transitions';

  let alertsArr = []
  $: alertsArr = Object.entries($alerts)
</script>

<style>
  figure {
    position: fixed;
    top: 80px;
    right: 15px;
    margin: 0;
    max-height: calc(100% - 160px);
    overflow-y: auto;
    max-width: 550px;
    text-align: right;
    z-index: 40;
  }
  pre {
    cursor: pointer;
    background-color: #ffffff;
    margin: 0 0 15px 0;
    padding: 25px;
    border: 1px solid #e6ecf5;
    border-radius: 5px;
    text-align: left;
    white-space: pre-wrap;
    min-width: 320px;
  }
</style>
